@keyframes naam {
    0% {
        color: lightblue;
    }
    20% {
        color: darkolivegreen;
    }
    40% {
        color: navy;
    }
    60% {
        color: white;
    }
    80% {
        color: red;
    }
    100% {
        color: black;
    }
}

#ip2 {
    height: 195px;
}

#head1 {
    animation-name: naam;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    font-size: 50px;
}

#d1 {
    border: 4px solid black;
    text-align: center;
    background-color: grey;
}

.d2 {
    border: 3px solid black;
    text-align: center;
    background-color: rgb(17, 92, 155);
    width: 60%;
    font-size: 30px;
    color: white;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 15px 15px;
}

.d3 {
    border: 3px solid black;
    text-align: center;
    background-color: rgb(0, 118, 163);
    box-sizing: border-box;
    width: 40%;
    font-size: 30px;
    color: white;
    position: not-relative;
    float: left;
    box-sizing: border-box;
    display: inline-block;
}

.button1 {
    float: left-justified;
    background-color: white;
    border-color: red;
    color: red;
    padding: 10px 10px;
    display: inline-block;
    font-size: 28px;
}

.button1:hover {
    float: left-justified;
    background-color: maroon;
    border-color: white;
    color: white;
    padding: 10px 10px;
    display: inline-block;
    font-size: 28px;
}

.submit1 {
    float: right;
    background-color: white;
    border-color: maroon;
    color: maroon;
    padding: 10px 10px;
    display: inline-block;
    font-size: 28px;
}

.submit1:hover {
    background-color: maroon;
    border-color: white;
    color: white;
    padding: 10px 10px;
    display: inline-block;
    font-size: 28px;
}

.ipc {
    display: block;
    width: 90%;
    height: 138px;
    font-size: 20px;
    text-align: justified;
    word-wrap: break-word;
}

.quest {
    display: inline-block;
    color: black;
    background: white;
    border: 2px solid black;
    width: 30px;
    height: 40px;
    font-size: 25px;
    position: relative;
}

.quest:hover,
.quest:focus {
    display: inline-block;
    color: white;
    background: black;
    border: 2px solid white;
    width: 30px;
    height: 40px;
    font-size: 25px;
    position: relative;
}

@keyframes ex {
    0% {
        background-color: black;
        left: 0%;
    }
    20% {
        background-color: orange;
        width: 20%
    }
    40% {
        background-color: navy;
        width: 40%;
    }
    60% {
        background-color: yellow;
        width: 60%;
    }
    80% {
        background-color: red;
        width: 80%;
    }
    100% {
        background-color: black;
        width: 101%;
    }
}

#anime {
    animation-name: ex;
    animation-timing-function: ease-in;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: black;
    animation-delay: 2s;
    height: 30px;
    width: 50px;
    position: relative;
    display: inline-block;
}

#question-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 5%;
    top: 4%;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid black;
    width: 95%;
    display: none;
    opacity: 1.0;
}

#close {
    float: right;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    background-color: black;
    color: red;
}

#close:hover,
#close:focus {
    float: right;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    background-color: navy;
    color: white;
}

#table {
    border: 1px black solid;
    background: silver;
    color: black;
}